<%= form_tag admin_sessions_url, {action: admin_sessions_url, method: "Post" } do %>
	<%= hidden_field_tag(:token, "#{@token}") %>
	<%= hidden_field_tag(:form_url, admin_sign_in_url) %>

	<%= label_tag :email, I18n.translate('user.email') %>
	<%= text_field_tag :email, nil, {name: 'session[email]', class: "form-control"} %>
	<p></p>

	<%= label_tag :password, I18n.translate('user.password') %>
	<%= password_field_tag :password, nil, {name: "session[password]", class: "form-control"} %>
	<p></p>

	<%= label_tag :remember_me, I18n.translate('sign_in.remember_me') %>
	<%= check_box_tag :remember_me, "true" %>
	<p></p>

	<%= submit_tag "Submit", class: 'btn btn-primary' %>
<% end %>
<p>رمز خود رو فراموش کرده اید؟</p>
<p> <%= link_to I18n.translate('sign_in.here'), admin_ask_for_token_path %> را کلیک کنید.</p>