<%= form_for :session, { url: sessions_path(redirect_url: params[:redirect_url]), html: { role: 'form' }} do |f| %>
  <div class="form-group">
    <%= f.label :email, I18n.translate('user.email') %>
    <%= f.text_field :email, { placeholder: I18n.translate('user.email'), class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :password, I18n.translate('user.password') %>
    <%= f.password_field :password, { placeholder: I18n.translate('user.password'), class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= label_tag :remember_me, I18n.translate('sign_in.remember_me') %>
    <%= check_box_tag :remember_me, "true" %>
  </div>

  <%= f.submit I18n.translate('sign_in.text'), { class: 'btn btn-primary' } %>
  <%= link_to I18n.translate('sign_in.not_member'), sign_up_path %>
<% end %>

<p>رمز خود رو فراموش کرده اید؟</p>
<p> <%= link_to I18n.translate('sign_in.here'), ask_for_token_path %> را کلیک کنید.</p>
<p>______________________________________</p>
<p>ادمین هستید؟</p>
<p> <%= link_to I18n.translate('sign_in.here'), admin_sign_in_path %> را کلیک کنید.</p>