<%= form_for :session, { url: sessions_path, html: { role: 'form' }} do |f| %>
  <div class="form-group">
    <%= f.label :email, I18n.translate('user.email') %>
    <%= f.text_field :email, { placeholder: I18n.translate('user.email'), class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :password, I18n.translate('user.password') %>
    <%= f.password_field :password, { placeholder: I18n.translate('user.password'), class: 'form-control' } %>
  </div>

  <%= f.submit I18n.translate('sign_in.button'), { class: 'btn btn-primary' } %>
  <%= link_to I18n.translate('sign_in.not_member'), sign_up_path %>
<% end %>