<%= form_tag admin_reset_pass_path, {action: admin_reset_pass_path, method: "Post" } do %>
	<%= hidden_field_tag(:token, "#{@token}") %>

	<%= label_tag :password %>
	<%= password_field_tag :password, nil, {name: "admin[password]", class: "form-control"} %>
	<p></p>

	<%= label_tag :password_confirmation %>
	<%= password_field_tag :password_confirmation, nil, {name: "admin[password_confirmation]", class: "form-control"} %>
	<p></p>

	<%= submit_tag "Submit", class: 'btn btn-primary' %>
<% end %>
