<%= form_for(@post, html: { role: 'form' }) do |f| %>
  <div class="form-group <%= "has-error" if @post.errors.include? :title %>">
    <%= f.label :title, I18n.translate('post.title') %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= render partial: 'shared/form_errors', locals: { model: @post, key: :title } %>
  </div>

  <div class="form-group <%= "has-error" if @post.errors.include? :digest %>">
    <%= f.label :digest, I18n.translate('post.digest') %>
    <%= f.text_area :digest, class: 'form-control', rows: 5 %>
    <%= render partial: 'shared/form_errors', locals: { model: @post, key: :digest } %>
  </div>

  <div class="form-group <%= "has-error" if @post.errors.include? :body %>">
    <%= f.label :body, I18n.translate('post.body') %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
    <%= render partial: 'shared/form_errors', locals: { model: @post, key: :body } %>
  </div>

  <div class="form-group">
    <%= f.label :published, I18n.translate('post.publish') %>
    <%= f.select :published, ['true', 'false'], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :pro %>
    <%= f.select :pro, ['true', 'false'], class: 'form-control' %>
  </div>

  <%= f.submit I18n.translate('post.submit.text'), class: 'btn btn-primary' %>
<% end %>