<article class="post">
  <header>
    <%= gravatar_for(post.admin) %>
    <h2>
      <% if post.pro? %>
        <em class="pro-label">Pro</em>
      <% end %>
      <%= post.title %>
    </h2>
    <strong>
      نوشته شده در <%= time_ago_in_words(post.created_at) %> پیش 
      توسط <%= "#{post.admin.first_name} #{post.admin.last_name}" %>
    </strong>
  </header>
  <div class="clear"></div>
  <p>
    <%= markdown(post.body) %>
  </p>
  <hr>
</article>